In [1]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('regression_train.csv')

In [3]:
dataset.shape

(10000, 11)

In [4]:
dataset.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,C,14.451155,1139.0,1.0,9.302908,1.0,M,p,86.108947
1,1,108,H,14.207448,1656.0,1.0,7.220130,0.0,M,p,42.606833
2,8,258,A,19.220830,2817.0,1.0,8.727214,1.0,M,p,85.625961
3,4,147,A,15.752732,1948.0,1.0,6.078818,1.0,M,p,53.656277
4,5,230,H,10.195407,1336.0,1.0,4.749185,0.0,M,p,64.925051

In [5]:
dataset.tail()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
9995,9,263,A,16.604215,1070.0,0.0,8.979149,2.0,F,p,85.922943
9996,5,280,E,28.758911,2652.0,0.0,3.574129,0.0,F,p,90.857149
9997,6,188,D,15.963267,1359.0,0.0,2.880019,0.0,F,p,61.246960
9998,1,132,H,11.683401,1793.0,0.0,6.983192,2.0,F,p,45.298253
9999,5,264,A,21.176115,1792.0,0.0,8.276101,2.0,F,p,85.534604

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data1   10000 non-null  int64
 1   data2   10000 non-null  int64
 2   data3   10000 non-null  object
 3   data4   10000 non-null  float64
 4   data5   9999 non-null   float64
 5   data6   9997 non-null   float64
 6   data7   9998 non-null   float64
 7   data8   9999 non-null   float64
 8   data9   9999 non-null   object
 9   data10  9999 non-null   object
 10  output  9999 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 859.5+ KB

In [7]:
dataset=dataset.dropna(how='any',axis=0)

In [8]:
dataset.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     0
data6     0
data7     0
data8     0
data9     0
data10    0
output    0
dtype: int64

In [9]:
dataset.shape

(9997, 11)

In [17]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dataset["data3"]=label_encoder.fit_transform(dataset["data3"])
dataset["data9"]=label_encoder.fit_transform(dataset["data9"])
dataset["data10"]=label_encoder.fit_transform(dataset["data10"])
dataset.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,279,2,14.451155,1139.0,1.0,9.302908,1.0,1,0,86.108947
1,1,108,7,14.207448,1656.0,1.0,7.220130,0.0,1,0,42.606833
2,8,258,0,19.220830,2817.0,1.0,8.727214,1.0,1,0,85.625961
3,4,147,0,15.752732,1948.0,1.0,6.078818,1.0,1,0,53.656277
4,5,230,7,10.195407,1336.0,1.0,4.749185,0.0,1,0,64.925051

In [18]:
X = dataset.iloc[:,:-1].values

y = dataset.iloc[:,-1].values

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [20]:
X_train.dtype

dtype('float64')

In [14]:
y_train.dtype

dtype('float64')

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
regressor = LinearRegression()

In [23]:
regressor.fit(X_train,y_train)

LinearRegression()

In [24]:
y_pred = regressor.predict(X_test)

In [27]:
#checking the score
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test,y_pred)

0.9223980477284894

In [39]:
prediction_output =pd.DataFrame(data=[y_test,y_pred],index=['y_test','y_pred'])

In [37]:
prediction_output.transpose()

         y_test     y_pred
0     47.464034  47.474427
1     69.764540  69.768094
2     81.356091  81.333324
3     54.941488  54.953548
4     55.544075  55.540243
...         ...        ...
2995  40.812980  40.844992
2996  41.214637  41.222392
2997  96.987450  96.966697
2998  82.783683  82.772351
2999  60.354173  60.345565

[3000 rows x 2 columns]