
ASSIGNMENTS

In [ ]:
#Task 1
#Different types of inbuilt function in Python

In [1]:
# 1.input()-->Allowing user input
a=input("enter your name:")
print("hello "+a)

enter your name:sohail
hello sohail

In [2]:
#2.format()-->Formats specified values in a string
print("The car is {} and water is {} ".format("red","blue"))

The car is red and water is blue

In [3]:
#3.replace()-->Returns a string where a specified value is replaced 
#               with a specified value
txt="i love coding"
print(txt)
i=txt.replace("coding","gaming")
print(i)

i love coding
i love gaming

In [4]:
#4.swapcase()--> lower case becomes upper case and vice versa
txt = "hello! mY nAME iS sOHAIL"
x=txt.swapcase()
print(x)

HELLO! My Name Is Sohail

In [5]:
#5.append()-->Adds an element at the end of the list
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [6]:
#6.clear()-->Removes all the elements from the list
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

In [7]:
#7.title()-->Converts the first character of each word to upper case
t="Welcome to my world"
x = t.title()
print(x)

Welcome To My World

In [8]:
#Task 2  check if "to" is present
txt = "Hello welcome to my world"

x = txt.find("to")#find()->Searches the string for a specified value 
                  #and returns the position of where it was found
print(x)

y=txt.find("q")#If the value is not found, the find() method returns -1

print(y)

14
-1

In [13]:
#Task-3
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

print(dict1["april_batch"]["student"]["name"])  #Acessing MIke
print(dict1["april_batch"]["student"]["marks"]["python"]) #Acessing 80
dict1["april_batch"]["student"]["name"]="sohail"  #updating name mike to my name
print(dict1)
dict1["april_batch"]["student"]["marks"]["ML"]=80 #Adding new key ML and giving value 80
x=list(dict1.items())
print(x)
dict1["april_batch"]["student"]["marks"]["DL"]=80 #Adding new key Dl and giving value 80
print(dict1)

Mike
80
{'april_batch': {'student': {'name': 'sohail', 'marks': {'python': 80, 'maths': 70}}}}
[('april_batch', {'student': {'name': 'sohail', 'marks': {'python': 80, 'maths': 70, 'ML': 80}}})]
{'april_batch': {'student': {'name': 'sohail', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [4]:
#task-4
#go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [5]:
#1.The remove() method removes the first occurrence of the element with the specified value.
list=["apple","mango","banana"]
list.remove("mango")
print(list)

['apple', 'banana']

In [7]:
#2.The count() method returns the number of elements with the specified value.
list=[1,2,9,3,7,9,8,4,9]
c=list.count(9)
print(c)

3

In [8]:
#3.The clear() method removes all the elements from a list.
list=[1,2,9,3,7,9,8,4,9]
list.clear()
print(list)

[]

In [9]:
#4.The sort() method sorts the list ascending by default
list=[5,8,4,6,7,2,6,0]
list.sort()
print(list)

[0, 2, 4, 5, 6, 6, 7, 8]

In [10]:
#5.The reverse() method reverses the sorting order of the elements.
fruits=["apple","mango","banana","orange"]
fruits.reverse()
print(fruits)

['orange', 'banana', 'mango', 'apple']

In [16]:
#task-5
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

l1[2][2].insert(2,70)#using insert to add 70
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [19]:
#add sublist [7,8]
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

l3=[7,8]
l2[2].append(l3)#using append to add the sublist
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]